<div class="row" style="height:50px;">
  <div class="col-md-12"></div>
</div>
{{{addGlobal "content" objContent}}}
<script src="/js/api.js"></script>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        {{#each obj}}
        <div class='row eachRow'>
          {{#each columns}}
          {{#ifEquals contents.id "spotify"}}
          <div class="col-md-{{width}}">
            {{> spotify data=(global "content")}}
          </div>
          {{/ifEquals}}
          {{#ifEquals contents.id "weather"}}
          <div class="col-md-{{width}}">
            {{> weather}}
          </div>
          {{/ifEquals}}
          {{#ifEquals contents.id "giphy"}}
          <div class="col-md-{{width}}">
            {{> giphy}}
          </div>
          {{/ifEquals}}
          {{#ifEquals contents.id "nyt"}}
          <div class="col-md-{{width}}">
            {{> nyt data=(global "content")}}
          </div>
          {{/ifEquals}}
          {{#ifEquals contents.id "cnn"}}
          <div class="col-md-{{width}}">
            {{> cnn data=(global "content")}}
          </div>
          {{/ifEquals}}
          {{#ifEquals contents.id "bbc"}}
          <div class="col-md-{{width}}">
            {{> bbc data=(global "content")}}
          </div>
          {{/ifEquals}}
          {{#ifEquals contents.id "static-links"}}
          <div class="col-md-{{width}}">
            {{> static-links data=(global "content")}}
          </div>
          {{/ifEquals}}
          {{#ifEquals contents.id "webcam"}}
          <div class="col-md-{{width}}">
            {{> webcam data=(global "content")}}
          </div>
          {{/ifEquals}}
          {{/each}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div class="row" style="height:50px;">
  <div class="col-md-12"></div>
</div>