<div class="row" style="height:50px;">
  <div class="col-md-12"></div>
</div>
<script src="/js/api.js"></script>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        {{#each obj}}
        <div class='row eachRow'>
          {{#each columns}}
          {{#ifEquals contents.id "spotify"}}
          <div class="col-md-{{width}}">
            {{> spotify}}
          </div>
          {{/ifEquals}}
          {{#ifEquals contents.id "weather"}}
          <div class="col-md-{{width}}">
            {{> weather}}
          </div>
          {{/ifEquals}}
          {{#ifEquals contents.id "giphy"}}
          <div class="col-md-{{width}}">
            {{> giphy}}
          </div>
          {{/ifEquals}}
          {{#ifEquals contents.id "solar"}}
          <div class="col-md-{{width}}">
            {{> solar}}
          </div>
          {{/ifEquals}}
          {{#ifEquals contents.id "nyt"}}
          <div class="col-md-{{width}}">
            {{> nyt}}
          </div>
          {{/ifEquals}}
          {{/each}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div class="row" style="height:50px;">
  <div class="col-md-12"></div>
</div>